root = true

[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8

[*.{ts,tsx,coffee,less,htm,html,cc,h,sh,ejs,java,json}]
indent_style = space
indent_size = 2
trim_trailing_whitespace = true